.courses {
    display: flex;
    margin-bottom: 15px;
}

.courses > *:first-child {
    margin-left: 0;
}

.courses > *:last-child {
    margin-right: 0;
}

.courses > * {
    margin-right: 5px;
    margin-left: 5px;
}

.course-item {
    display: block;
}
.course-item-title {
    font-weight: 700;
    font-size: 18px;
}
.course-item-value {
    font-size: 32px;
    font-weight: 300;
}

.course-item-value.top {
    color: rgb(255, 51, 51);
}

.course-item-value.bottom {
    color: rgb(19, 189, 61);
}

//my changes
body {
    background: rgb(201, 201, 201) !important;
}
.wrapper {
    max-width: 370px !important;
    margin: 0 auto;
}
.card {
    margin: 10px 4px;
    background: rgb(240, 240, 240) !important;
    border-radius: 8px !important;
    padding: 0 5px;
}

.form-control {
    max-width: 165px;;
}
#select{
    cursor: pointer;
}